@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "404 Ошибка - Game-Drop.com";
    ViewBag.Section = "";
}

<section class="content-wrap full youplay-404">
    <!-- Banner -->
    <div class="youplay-banner banner-top">
        <div class="image" style="background-image: url('../../Content/images/game-dark-souls-ii-10-1680x1050.jpg')">
        </div>
        <div class="info">
            <div>
                <div class="container align-center">
                    <h2 class="h1">404</h2>
                    <h3>Запрашиваемой страницы не существует ;(</h3>

                    <form action="http://html.nkdev.info/youplay/dark/search.html">
                        <div class="youplay-input">
                            <input type="text" name="search" placeholder="Site Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Banner -->
</section>

