@{
    ViewBag.ActionCheck = "About";
    ViewBag.Title = "О нас - Game-Drop.com";
}
<!-- Banner -->
<section class="youplay-banner banner-top youplay-banner-parallax">
    <div class="image" style="background-image: url('../../Content/images/banner-blog-bg.jpg')">
    </div>
    <div class="info">
        <div>
            <div class="container">
                <h1>О нас</h1>
            </div>
        </div>
    </div>
</section>
<!-- /Banner -->

<div class="container youplay-content">
    <div class="row">
        <div class="col-md-9">
            <h3 class="mt-0 mb-20">John Doe</h3>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        sdfsdfsdfsfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdftrrthfgbbdfvsdf sdfsdfetethrbf
                    </tr>
                </tbody>
            </table>


            <h3 class="mt-40 mb-20">Общая статистика</h3>
            <table class="table table-bordered">
                <tbody>

                    <tr>
                        <td style="width: 200px;">
                            <center><p>Кол-во пользователей</p></center>
                        </td>
                        <td>
                            <p>
                                124141231
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center><p>Кол-во открытых кейсов</p></center>
                        </td>
                        <td>
                            <p>34234</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center><p>About Me</p></center>
                        </td>
                        <td>
                            <p>Netus. Nascetur arcu amet accumsan natoque. Augue aptent euismod sed magna diam nostra, molestie mi felis. Egestas nisl ante posuere dui Nostra tempus pulvinar at dui augue mattis placerat iaculis hac arcu rutrum.</p>
                            <p>
                                Vel <strong>class</strong> lectus auctor interdum. Mi <strong>nec</strong> senectus commodo sed suscipit vitae parturient, risus vivamus quisque dolor aliquet amet. Etiam penatibus nascetur netus. Non leo eu vitae sem laoreet. Varius in
                                augue. Mollis convallis.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-3">
            <div class="side-block">
                <h4 class="block-title">About</h4>
                <div class="block-content">
                    Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus, ubi tu non Virginiae ornare vel ipsum. Ut enim Albuquerque et ille eum iure hic, et ego ducam te ad iustitiam.
                </div>
            </div>
            <div class="side-block">
                <h4 class="block-title">Location</h4>
                <div class="block-content pt-5">
                    <div class="responsive-embed responsive-embed-16x9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d423284.59051352815!2d-118.41173249999999!3d34.0204989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2z0JvQvtGBLdCQ0L3QtNC20LXQu9C10YEsINCa0LDQu9C40YTQvtGA0L3QuNGPLCDQodCo0JA!5e0!3m2!1sru!2sru!4v1430158354122"
                                width="600" height="450"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <!-- Left Side -->

    </div>
</div>

<!-- Footer -->
<footer class="youplay-footer-parallax">
    <div class="wrapper" style="background-image: url('../../Content/images/footer-bg.jpg')">
        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <strong>Game-Drop.com</strong> &copy; @DateTime.Now.Year. Все права защищены
            </div>
        </div>
        <!-- /Copyright -->
    </div>
</footer>
<!-- /Footer -->

@section Scripts {
    @Scripts.Render("~/bundles/index")
}